<mat-form-field *ngIf="(apiData | async)?.jobs; else loading" class="dop" appearance="fill">
  <mat-label>Search</mat-label>
  <input matInput placeholder="Type job title" [(ngModel)]="searchStr">
</mat-form-field>

<main class="card-text">
  <mat-card class="card">
    <div class="container-wrapper">
      <div *ngFor="let job of ((apiData | async)?.jobs | searchJobs: searchStr) index as id">
        <div class="item">
          <mat-card-title><a [routerLink]="['/jobs/' + id]" [queryParams]="job">{{ job.title }}</a></mat-card-title>
          <mat-card-subtitle><p class="row"><strong>Location: </strong>{{ job.location }}</p></mat-card-subtitle>
        </div>
      </div>
    </div>
  </mat-card>
</main>

<ng-template #loading>
  <mat-progress-spinner class="spinner" color="primary" mode="indeterminate" value="50"></mat-progress-spinner>
</ng-template>
